body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

a{
    text-decoration: none;
}

a:hover, a:active, a:focus{
    color: #404BBF;
}


ul{
    list-style-type: none;
}

.page-logo{
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    color: #4D5AE5;
}

.part-of-logo{
    color: #2E2F42;
}

.menu{
    color: #2E2F42;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.32px;
}

.page-contacts{
font-style: normal;
}

.contacts{
    color: inherit;
    font-size: 16px;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

.contacts:hover{
    color: #404BBF;
}

.main-title{
    color: #FFF;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12px;
    text-align: center;
}

.hero{
    background-color: #2E2F42;
}

.team{
    background-color: #F4F4FD;
}

.team-list{
    background-color: #FFFFFF;
}

.order-button{
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    background-color: #4D5AE5;
}

.order-button:hover, .order-button:focus{
   background-color: #404BBF;
   cursor: pointer;
}

.sections-name{
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-align: center;
    text-transform: capitalize;
}

.benefits-name{
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
}

.benefits-description{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

.members-name{
    color: #2E2F42;
    text-align: center;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    letter-spacing: 0.4px;
}

.position{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
    text-align: center;
}

.case-name{
    color: #2E2F42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.4px;
}

.case-type{
    
    letter-spacing: 0.32px;
    line-height: 1.5;
    font-size: 16px;
}

.part-of-logo-footer{
    color: #F4F4FD;
}



.slogan{
    color: #F4F4FD;
    line-height: 1.5;
    font-size: 16px;
    letter-spacing: 0.32px;
}

.page-footer {
    background-color: #2E2F42;
}