body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

h1,h2,h3,h4,h5,h6,p{
    margin-top: 0;
    margin-bottom: 0;
}

a{
    text-decoration: none;
}

a:hover, a:active, a:focus{
    color: #404BBF;
}


ul{
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

section{
    padding-top: 120px;
    padding-bottom: 120px;
}
.container{
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;
    width: 1160px;
    padding-left: 16px;
    padding-right: 16px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


.header-container {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #E7E9FC;
}

.page-navigation{
display: flex;
justify-content: space-between;
width: 452px;
align-items: center;
}

.menu{
    display: flex;
    justify-content: right;
    column-gap: 40px;
}

.page-logo{
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    color: #4D5AE5;
}

.part-of-logo{
    color: #2E2F42;
}

.menu-link{
    display: block;
    color: #2E2F42;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.32px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.page-contacts{
    font-style: normal;
    display: flex;
    column-gap: 40px;
}

.contacts{
    display: block;
    color: inherit;
    font-size: 16px;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.32px;
    padding-bottom: 24px;
    padding-top: 24px;
}

.contacts:hover{
    color: #404BBF;
}

.main-title{
    color: #FFF;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12px;
    text-align: center;
    width: 496px;
}

.hero{
    background-color: #2E2F42;
}
.hero-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 68px;
    padding-bottom: 68px;
}

.benefits{
    display: flex;
    column-gap: 24px;
}

.team{
    background-color: #F4F4FD;
}

.team-list{
    display: flex;
    column-gap: 24px;
    margin-top: 72px;
}

.team-item{
    background-color: #FFFFFF;
    width: 264px;
    padding-bottom: 32px;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-image{
    margin-bottom: 32px;
}

.order-button{
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    background-color: #4D5AE5;
    height: auto;
    padding: 16px 32px;
    margin-top: 48px;
    border: 0;
}

.order-button:hover, .order-button:focus{
   background-color: #404BBF;
   cursor: pointer;
}

.sections-name{
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-align: center;
    text-transform: capitalize;
}

.benefits-name{
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    margin-bottom: 8px;
}

.benefits-description{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

.members-name{
    color: #2E2F42;
    text-align: center;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    letter-spacing: 0.4px;
    margin-bottom: 8px;
}

.position{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
    text-align: center;
}

.case{
    display: flex;
    flex-wrap: wrap;
    margin-top: 72px;
    column-gap: 24px;
    row-gap: 48px;
}

.case-item{
    padding-bottom: 32px;
}

.case-image{
    margin-bottom: 32px;
}
.case-name{
    color: #2E2F42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.4px;
    margin-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
}

.case-type{
    
    letter-spacing: 0.32px;
    line-height: 1.5;
    font-size: 16px;
    padding-left: 16px;
    padding-right: 16px;
}

.part-of-logo-footer{
    color: #F4F4FD;
}



.slogan{
    color: #F4F4FD;
    line-height: 1.5;
    font-size: 16px;
    letter-spacing: 0.32px;
    width: 264px;
    margin-top: 18px;
}

.page-footer {
    background-color: #2E2F42;
    padding-bottom: 101px;
    padding-top: 100px;
}
